BODY {
         background-image: url("clarion.jpg");
         background-repeat: no-repeat;
         background-attachment: fixed;
		 background-position: 26% 58%;
		 font-family: Verdana;
		 }

 P {font-family: Verdana; font-size: 95%; text-align: justify}
   P:first-letter {font-size: 200%; text-transform: uppercase}
   .Diferente:first-letter {font-size: 300%; text-transform: uppercase; float:left;
                            font-weight: bold; color: red}
 



  
   A {text-decoration: none}
   A:HOVER {background-color: red}
   
   div.p1 {
 height: 178.5px;
 width:  803px;
 border: solid;
 border-width: 7px
 
}
#div_p2
{
 height: 400px;
 width:  803px;
 border: solid;
 border-width: 7px
 }
    
 #hr_tipo1{ border: 1px solid; 
	border-color: black;
	border: 4px solid;}
 div.listarbig 
	   {
		width:600px;
		height:300px;
		overflow: auto;

		}